{% extends 'base.html' %}
{% load custom_filters %}
{% load i18n %}

{% block content %}
<div class="container box-1170">
    <div class="row">
        <div class="section-top-border">
            <h3 class="mb-30">{% trans history.title %}</h3>
            <div class="row">
                <div class="col-md-9">
                    <img src="{{ history.image.url }}" alt="" class="img-fluid">
                </div>
                {% if history.description %}
                <div class="col-md-9 mt-sm-20">
                    <p>{% trans history.description|slice:":500" %}</p>
                </div>
                {% endif %}
                <div class="col-md-9 mt-sm-20">
                    <p>{% trans history.content %}</p>
                </div>
            </div>
        </div>

        <div class="mb-5">
            <h4>{% trans 'Медиа файлы:' %}</h4>
            {% for media_file in history.files.all %}
                {% if media_file.file.url %}
                    {% with file_parts=media_file.file.name|lower|slice:"-5:-1" %}
                        {% with file_extension=file_parts|last %}
                            {% if file_extension == 'jpg' or file_extension == 'jpeg' or file_extension == 'png' or file_extension == 'gif' %}
                                <img src="{{ media_file.file.url }}" alt="{{ media_file.file.name }}" style="max-width: 100%; height: auto;">
                            {% elif file_extension == 'mp4' or file_extension == 'webm' or file_extension == 'ogg' %}
                                <video controls width="100%">
                                    <source src="{{ media_file.file.url }}" type="video/mp4">
                                    {% trans 'Ваш браузер не поддерживает тег video.' %}
                                </video>
                            {% else %}
                                <a href="{{ media_file.file.url }}" class="genric-btn info-border">{{ media_file.file.name }}</a>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
