{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1>Category: {{ categories.name }}</h1>
    {% for post in posts %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title"><a href="{% url 'blog:post_detail' pk=post.pk %}" class="text-decoration-none text-dark">{{ post.title }}</a></h2>
          <p class="card-text">{{ post.content }}</p>
          <p class="card-text">Author: {{ post.author.username }}, Published: {{ post.pub_date }}</p>
        </div>
      </div>
    {% endfor %}

    <div class="pagination">
      <span class="step-links">
        {% if posts.has_previous %}
          <a href="?page=1" class="btn btn-outline-secondary">&laquo; first</a>
          <a href="?page={{ posts.previous_page_number }}" class="btn btn-outline-secondary">previous</a>
        {% endif %}

        <span class="current">
          Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}" class="btn btn-outline-secondary">next</a>
          <a href="?page={{ posts.paginator.num_pages }}" class="btn btn-outline-secondary">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
