{% extends 'base.html' %}
{% load contact_tags %}

{% block main_btn %}
<a href="{% url 'blog:add_post' %}">Добавить пост</a>
{% endblock %}

{% block content %}
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% if post_list %}
                        {% for post in post_list %}
                        <article class="blog_item">

                            <div class="blog_item_img">
                                <a href="#" class="blog_item_date">
                                    <h3>{{ post.time_create.day }}</h3>
                                    <p>{{ post.time_create|date:"M" }}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'blog:post_detail' pk=post.pk %}">
                                    <h2>{{ post.title }}</h2>
                                </a>
                                <p>{{ post.content|slice:":150" }}</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> {{ post.author.username }}</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> {{ post.comments_count }} Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        {% endfor %}
                        {% else %}
                        <p class="text-info" style="font-size: 1.2em">Постов не найдено</p>
                        {% endif %}
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?page=1" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                                        <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                                    </li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form method="get">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" name="title" placeholder='Поиск Постов'
                                               value="{{ request.GET.title }}"
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Поиск Постов'">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Поиск</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Страницы</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Электронные книги</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Событие</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Форум</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Галерея</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Правило</p>
                                        <p>(21)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Достижение</p>
                                        <p>(09)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Последние посты</h3>

                            {% for latest_post_item in latest_post %}
                                <div class="media post_item">
                                    <div class="media-body">
                                        <a href="{% url 'blog:post_detail' pk=latest_post_item.pk %}">
                                            <h3>{{ latest_post_item.title }}</h3>
                                        </a>
                                        <p>{{ latest_post_item.time_create|date:"F d, Y" }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </aside>



                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Социальные сети</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_7.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_8.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_10.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Новостная рассылка</h4>

                            <form action="#">
                                <div class="form-group">
                                    {% contact_form layout=True %}
                                </div>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->


{% endblock %}