<!-- achievement_personal.html -->
{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container box-1170 mb-5 mt-5">
    {% if achievements_personal %}
    <div class="row">
        <div class="col-12">
            <div class="row mb-5 " >
                <div class="col-lg-12">
                    <div class="section_title text-center">
                        <hr>
                        <h3>{% trans "Достижение сотрудников" %}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for achievement in achievements_personal %}
                    <div class="col-lg-4 col-md-6 mb-5" >
                        <div class="single__program" style="background: #f2f6fc;">
                            <div class="program_thumb">
                                <img src="{{ achievement.image_personal.url }}" alt="" style="border-radius: 5px; width: auto; max-height: 350px" class="img-fluid rounded mx-auto d-block">
                            </div>
                            <div class="program__content p-4">
                                <h4 class=" h5 text-center mt-2">{{ achievement.personal.first_name }}{{ student.personal.last_name }}{{ student.personal.patronymic }}</h4>
                                <p class="text-center">{{ achievement.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
</div>
    {% else %}
    <p>{% trans "Нет достижений" %}</p>
    {% endif %}
</div>
{% endblock %}
