{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container box-1170">
    <div class="row">
        <div class="col-12">
              <h2>{% trans "Подтверждение удаления аккаунта" %}</h2>
            <hr>
              <p>{% trans "Вы уверены, что хотите удалить свой аккаунт?" %}</p>
              <form method="post">
                {% csrf_token %}
                <button type="submit" class="genric-btn warning large">{% trans "Удалить аккаунт" %}</button>
              </form>
        </div>
    </div>
</div>
{% endblock %}
