{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container box-1170 mt-5 mb-5">
  <h2>{% trans "Все классы" %}</h2>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{% trans "#" %}</th>
      <th scope="col">{% trans "Класс" %}</th>
      <th scope="col">{% trans "Учитель класса" %}</th>
      <th scope="col">{% trans "Номер кабинета" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for class in classes %}
        <tr>
          <th scope="row">{{ class.pk }}</th>
          <td><a href="{% url 'personal:class_detail' slug=class.slug %}">{{ class.class_name }}</a></td>
          <td><a href="{% url 'personal:class_detail' slug=class.slug %}">{{ class.class_teacher }}</a></td>
          <td>{{ class.classroom_number }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}