{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="container box_1170">
  <div class="row mb-5 mt-5">
    <div class="col-12 justify-content-center align-items-center">
        <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <h1 class="card-title text-center mb-4">{% trans "Редактирование" %}</h1>
          {% csrf_token %}
          <p class="text-warning" style="font-size: 0.9em;">
            {{ form.non_field_errors }}
          </p>
          {{ form.as_p }}

          <button type="submit" class="genric-btn success large" style="float: right;">{% trans "Сохранить" %}</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}