{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if grades %}
<div class="container box-1170 mt-5 mb-5">
  <h2>{% trans "Оценки за четверть" %}</h2>
    <table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">{% trans "Ученик" %}</th>
        <th scope="col">{% trans "Предмет" %}</th>
        <th scope="col">{% trans "Оценка" %}</th>
        <th scope="col">{% trans "Четверть" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for person in grades %}
        <tr>
          <td>{{ person.student }}</td>
            <td>{{ person.subject }}</td>
            <td>{{ person.grade }}</td>
            <td>{{ person.quarter }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<p>{% trans "Пока что оценки за четверть не опубликованы" %}</p>
{% endif %}
{% endblock %}
