{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="popular_program_area section__padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center">
                    <h3>{% trans "Наши сотрудники" %}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="custom_tabs text-center">
                    <div class="nav" id="nav-tab" role="tablist">
                        {% if authorities %}
                        <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{% trans "Начальство" %}</a>
                        {% endif %}
                        {% if teachers %}
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">{% trans "Учителя" %}</a>
                        {% endif %}
                        {% if retireds %}
<!--                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">{% trans "Учителя в отставке" %}</a>-->
                        {% endif %}
                        {% if parliaments %}
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact" aria-selected="false">{% trans "Парламент" %}</a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    {% for person in authorities %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program" style="background: #f2f6fc;">
                            <div class="program_thumb">
                                <img src="{{ person.person.profile_picture.url }}" alt="" style="border-radius: 5px; width: auto; max-height: 350px" class="img-fluid rounded mx-auto d-block">
                            </div>
                            <div class="program__content p-4">
                                <h4>{{ person.person.first_name }} {{ person.person.last_name }}</h4>
                                <p class="text-center">{% trans "Предметы" %}: {% for subject in person.person.subjects_taught.all %} {{ subject.subject_name }} {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                    {% for person in teachers %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program" style="background: #f2f6fc;">
                            <div class="program_thumb">
                                <img src="{{ person.person.profile_picture.url }}" alt="" style="border-radius: 5px; width: auto; max-height: 350px" class="img-fluid rounded mx-auto d-block">
                            </div>
                            <div class="program__content p-4">
                                <h4>{{ person.person.first_name }} {{ person.person.last_name }}</h4>
                                <p class="text-center">{% trans "Предметы" %}: {% for subject in person.person.subjects_taught.all %} {{ subject.subject_name }} {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                    {% for person in retireds %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program" style="background: #f2f6fc;">
                            <div class="program_thumb">
                                <img src="{{ person.person.profile_picture.url }}" alt="" style="border-radius: 5px; width: auto; max-height: 350px" class="img-fluid rounded mx-auto d-block">
                            </div>
                            <div class="program__content p-4">
                                <h4>{{ person.person.first_name }} {{ person.person.last_name }}</h4>
                                <p class="text-center">{% trans "Предметы" %}: {% for subject in person.person.subjects_taught.all %} {{ subject.subject_name }} {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                    {% for person in parliaments %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program" style="background: #f2f6fc;">
                            <div class="program_thumb">
                                <img src="{{ person.profile_picture.url }}" alt="" style="border-radius: 5px; width: auto; max-height: 350px" class="img-fluid rounded mx-auto d-block">
                            </div>
                            <div class="program__content p-4">
                                <h4>{{ person.person.first_name }} {{ person.person.last_name }}</h4>
                                <p class="text-center">{% trans "Предметы" %}: {% for subject in person.person.subjects_taught.all %} {{ subject.subject_name }} {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="course_all_btn text-center">
                    <a href="{% url 'personal:all_personal' %}" class="boxed-btn4">{% trans "Посмотреть весь персонал" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
