{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <!-- ================ contact section start ================= -->
    <section class="contact-section">
        <div class="container">
            <div class="d-none d-sm-block mb-5 pb-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5316.087925833315!2d70.82289199850372!3d40.06892303093193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ba43dc14265f9d%3A0xbacf009e2011c89c!2z0KjQutC-0LvQsCBOLjQ!5e0!3m2!1sru!2skg!4v1707317356621!5m2!1sru!2skg"
                    width="100%"
                    height="480"
                    style="border: 0; max-width: 1200px;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="d-sm-none">
                <!-- Код для отображения чего-то другого на мобильных устройствах -->
                <p>{% trans "Карта будет видна только на устройствах с шириной экрана 576px и более." %}</p>
                <p>{% trans "Перейдите по этой" %} <a href="https://www.google.com/maps/dir//%D0%A8%D0%BA%D0%BE%D0%BB%D0%B0+N.4+3R99%2BR7R+%D0%91%D0%B0%D1%82%D0%BA%D0%B5%D0%BD/@40.069512,70.8178834,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x38ba43dc14265f9d:0xbacf009e2011c89c!2m2!1d70.8178834!2d40.069512?entry=ttu" target="_blank">{% trans "ссылке" %}</a> {% trans "для просмотра карты." %}</p>
            </div>

            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">{% trans "Свяжитесь с нами" %}</h2>
                </div>
                <div class="col-lg-8">
                    <form class="form-contact contact_form" method="post" id="contactForm" novalidate="novalidate" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    {{ form.message }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    {{ form.subject }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="button button-contactForm boxed-btn">{% trans "Отправить" %}</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>{% trans "Buttonwood, California." %}</h3>
                            <p>{% trans "Rosemead, CA 91770" %}</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+1 253 565 2365</h3>
                            <p>{% trans "Mon to Fri 9am to 6pm" %}</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>support@colorlib.com</h3>
                            <p>{% trans "Send us your query anytime!" %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ contact section end ================= -->
{% endblock %}
