{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <!-- single_carouse -->
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>{% trans "Школа гимназии №4" %} <br>
                                {% trans "в городе Баткенской" %} <br>
                                {% trans "области." %}</h3>
                            <a href="{% url 'accounts:login' %}" class="boxed-btn3">{% trans "Войти" %}</a>
                            <a href="{% url 'accounts:register' %}" class="boxed-btn4">{% trans "Регистрация" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ single_carouse -->
        <!-- single_carouse -->
        <div class="single_slider  d-flex align-items-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>{% trans "Школа гимназии №4" %} <br>
                                {% trans "в городе Баткенской" %} <br>
                                {% trans "области." %}</h3>
                            <a href="{% url 'accounts:login' %}" class="boxed-btn3">{% trans "Войти" %}</a>
                            <a href="{% url 'accounts:register' %}" class="boxed-btn4">{% trans "Регистрация" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ single_carouse -->
    </div>
</div>
<!-- slider_area_end -->

<!-- service_area_start  -->
<div class="service_area gray_bg">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-4 col-md-6">
                <div class="single_service d-flex align-items-center ">
                    <div class="icon">
                        <i class="flaticon-school"></i>
                    </div>
                    <a href="{% url 'books:books' %}">
                        <div class="service_info">
                            <h4>{% trans "Электронные" %}</h4>
                            <p>{% trans "Книги" %}</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service d-flex align-items-center ">
                    <div class="icon">
                        <i class="flaticon-error"></i>
                    </div>
                    <a href="{% url 'main:rules' %}">
                        <div class="service_info">
                            <h4>{% trans "Правило" %}</h4>
                            <p>{% trans "Учеников" %}</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service d-flex align-items-center ">
                    <div class="icon">
                        <i class="flaticon-book"></i>
                    </div>
                    <a href="{% url 'gallery:gallery_list' %}">
                        <div class="service_info">
                            <h4>{% trans "Галерея" %}</h4>
                            <p>{% trans "Сайта" %}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ service_area_start  -->

<!-- recent_news_area_start  -->
{% if news %}
<div class="recent_news_area mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section_title text-center mb-70">
                    <h3 class="mb-45">{% trans "Свежие новости" %}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for new in news %}
            <div class="col-md-6">
                <div class="single__news">
                    <div class="thumb">
                        <a href="{% url 'news:news_detail' slug=new.slug %}">
                            {% if new.photo %}
                            <img src="{{ new.photo.url }}" alt="" class="img-fluid rounded mx-auto d-block" style="max-height: 300px; width: auto">
                            {% else %}
                            <p>{% trans "No photo available" %}</p>
                            {% endif %}
                        </a>
                        <span class="badge">{{ new.likes }} {% trans "лайков" %}</span>
                    </div>
                    <div class="news_info">
                        <a href="{% url 'news:news_detail' slug=new.slug %}">
                            <h4>{{ new.title }}</h4>
                        </a>
                        <p class="d-flex align-items-center">
                            <span><i class="flaticon-calendar-1"></i> {{ new.time_create|date:"F j, Y" }}</span>
                            <span> <i class="flaticon-comment"></i> {{ new.comments_count }} {% trans "comments" %}</span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<!-- recent_news_area_end  -->

<!-- popular_program_area_start  -->
<div class="popular_program_area section__padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center">
                    <h3>{% trans "Наши сотрудники" %}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="custom_tabs text-center">
                    <div class="nav" id="nav-tab" role="tablist">
                        {% if authorities %}
                        <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{% trans "Начальство" %}</a>
                        {% endif %}
                        {% if teachers %}
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">{% trans "Учителя" %} </a>
                        {% endif %}
                        {% if retireds %}
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tabpanel" aria-controls="nav-contact" aria-selected="false">{% trans "Учителя в отставке" %}</a>
                        {% endif %}
                        {% if parliaments %}
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact" aria-selected="false">{% trans "Парламент" %}</a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    {% for person in authorities %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program" style="background: #f2f6fc;">
                            <div class="program_thumb">
                                <img src="{{ person.person.profile_picture.url }}" alt="" style="border-radius: 5px; width: auto; max-height: 350px" class="img-fluid rounded mx-auto d-block">
                            </div>
                            <div class="program__content p-4">
                                <h4>{{ person.person.first_name }} {{ person.person.last_name }}</h4>
                                <p class="text-center">{% trans "Предметы:" %} {% for subject in person.person.subjects_taught.all %} {{ subject.subject_name }} {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                    {% for person in teachers %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program" style="background: #f2f6fc;">
                            <div class="program_thumb">
                                <img src="{{ person.person.profile_picture.url }}" alt="" style="border-radius: 5px; width: auto; max-height: 350px" class="img-fluid rounded mx-auto d-block">
                            </div>
                            <div class="program__content p-4">
                                <h4>{{ person.person.first_name }} {{ person.person.last_name }}</h4>
                                <p class="text-center">{% trans "Предметы:" %} {% for subject in person.person.subjects_taught.all %} {{ subject.subject_name }} {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                    {% for person in retireds %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program" style="background: #f2f6fc;">
                            <div class="program_thumb">
                                <img src="{{ person.person.profile_picture.url }}" alt="" style="border-radius: 5px; width: auto; max-height: 350px" class="img-fluid rounded mx-auto d-block">
                            </div>
                            <div class="program__content p-4">
                                <h4>{{ person.person.first_name }} {{ person.person.last_name }}</h4>
                                <p class="text-center">{% trans "Предметы:" %} {% for subject in person.person.subjects_taught.all %} {{ subject.subject_name }} {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                    {% for person in parliaments %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single__program" style="background: #f2f6fc;">
                            <div class="program_thumb">
                                <img src="{{ person.profile_picture.url }}" alt="" style="border-radius: 5px; width: auto; max-height: 350px" class="img-fluid rounded mx-auto d-block">
                            </div>
                            <div class="program__content p-4">
                                <h4>{{ person.person.first_name }} {{ person.person.last_name }}</h4>
                                <p class="text-center">{% trans "Предметы:" %} {% for subject in person.person.subjects_taught.all %} {{ subject.subject_name }} {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="course_all_btn text-center">
                    <a href="{% url 'personal:all_personal' %}" class="boxed-btn4">{% trans "Посмотреть весь персонал" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popular_program_area_end -->

<!-- latest_coures_area_start  -->
<div class="latest_coures_area">
    <div class="latest_coures_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="coures_info">
                        <div class="section_title white_text">
                            <h3>{% trans "Последние курсы" %}</h3>
                        </div>
                        <div class="coures_wrap d-flex">
                            <div class="single_wrap">
                                <div class="icon">
                                    <i class="flaticon-lab"></i>
                                </div>
                                <h4>{% trans "Бакалавр" %} <br>
                                    {% trans "графического дизайна" %}
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur quos temporibus. Ab alias consequatur delectus dolorem doloremque dolorum eligendi eos maxime minima, nesciunt, odit praesentium quia repellat rerum tempora?
                                </p>
                                <a href="#" class="boxed-btn5">{% trans "Применить сейчас" %}</a>
                            </div>
                            <div class="single_wrap">
                                <div class="icon">
                                    <i class="flaticon-lab"></i>
                                </div>
                                <h4>{% trans "Бакалавр" %} <br>
                                    {% trans "графического дизайна" %}
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur quos temporibus. Ab alias consequatur delectus dolorem doloremque dolorum eligendi eos maxime minima, nesciunt, odit praesentium quia repellat rerum tempora?

                                </p>
                                <a href="#" class="boxed-btn5">{% trans "Применить сейчас" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest_coures_area_end  -->

<!-- recent_event_area_strat  -->
<div class="recent_event_area section__padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section_title text-center mb-70">
                    <h3 class="mb-45">{% trans "Школьные правила" %}</h3>
                    <p>{% trans "Важно следовать правилам, а за ними будет следовать рост ученика, но в то же время будет много работы и боли." %}</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h3 class="text-center">{% trans "Правила пока не опубликованы" %}</h3>
            </div>
        </div>
    </div>
</div>
<!-- recent_event_area_end  -->


<!-- latest_coures_area_start  -->
<div data-scroll-index="1" class="admission_area">
    <div class="admission_inner">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="admission_form">
                        <h3>{% trans "Оставьте отзыв о нашем сайте и школе" %}</h3>
                        <form method="post" action="{% url 'main:add_feedback' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ feedback_form.name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ feedback_form.surname }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ feedback_form.phone_number }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ feedback_form.email }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input">
                                        {{ feedback_form.feedback }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="apply_btn">
                                        <button class="boxed-btn3" type="submit">{% trans "Отправить сейчас" %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ latest_coures_area_end -->

{% endblock %}
