.gallery-info-deactivate {
    display: none;
}

.gallery-info {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin-top: -95px;
    text-align: center;
}


.gallery-info p {
    font-size: 14px;
}

.gallery-info h3 {
    font-size: 18px;
}