{% extends 'base.html' %}

{% block content %}
<!-- latest_coures_area_start  -->
    <div class="latest_coures_area">
        <div class="latest_coures_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="coures_info">
                            <div class="section_title white_text">
                                <h3>Последние курсы</h3>
                                <p>
                                    Важно позаботиться о самой боли, а за ней будет следовать рост пациента, но в то же <br>
                                    время будет много работы и боли. Если говорить до мельчайших <br>
                                    деталей, в чем заключается наше упражнение?
                                </p>
                            </div>
                            <div class="coures_wrap d-flex">
                                <div class="single_wrap">
                                    <div class="icon">
                                        <i class="flaticon-lab"></i>
                                    </div>
                                    <h4>Бакалавр <br>
                                        графического дизайна
                                    </h4>
                                    <p>
                                        Важно позаботиться о самой боли, а за ней будет следовать рост пациента, но в то же <br>
                                        время будет много работы и боли. Если говорить до мельчайших <br>
                                        деталей, в чем заключается наше упражнение?
                                    </p>
                                    <a href="#" class="boxed-btn5">Приминить сейчас</a>
                                </div>
                                <div class="single_wrap">
                                    <div class="icon">
                                        <i class="flaticon-lab"></i>
                                    </div>
                                    <h4>Бакалавр <br>
                                        графического дизайна
                                    </h4>
                                    <p>
                                        Важно позаботиться о самой боли, а за ней будет следовать рост пациента, но в то же <br>
                                        время будет много работы и боли. Если говорить до мельчайших <br>
                                        деталей, в чем заключается наше упражнение?
                                    </p>
                                    <a href="#" class="boxed-btn5">Приминить сейчас</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ latest_coures_area_end -->
{% endblock %}