{% extends 'base.html' %}

{% block content %}
<!-- latest_coures_area_start  -->
<div data-scroll-index='1' class="admission_area">
    <div class="admission_inner">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="admission_form">
                        <h3>Оставьте отзыв о нашем сайте и школе</h3>
                        <form action="{% url 'main:add_feedback' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ form.name }}
<!--                                        <input type="text" placeholder="Имя" >-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ form.surname }}
<!--                                        <input type="text" placeholder="Фамилия" >-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ form.phone_number }}
<!--                                        <input type="text" placeholder="Номер телефона" >-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ form.email }}
<!--                                        <input type="text" placeholder="Адрес электронный почты" >-->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input">
                                        {{ form.feedback }}
<!--                                        <textarea cols="30" placeholder="Написать заявку" rows="10"></textarea>-->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="apply_btn">
                                        <button class="boxed-btn3" type="submit">Отправить сейчас</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ latest_coures_area_end -->
{% endblock %}