{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <!-- single_carouse -->
            <div class="single_slider  d-flex align-items-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Школа гимназии номер 4 <br>
                                    в городе Баткенской <br>
                                    области.</h3>
                                <a href="{% url 'accounts:login' %}" class="boxed-btn3">Войти</a>
                                <a href="{% url 'accounts:register' %}" class="boxed-btn4">Регистрация</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ single_carouse -->
            <!-- single_carouse -->
            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Школа гимназии номер 4 <br>
                                    в городе Баткенской <br>
                                    области.</h3>
                                <a href="{% url 'accounts:login' %}" class="boxed-btn3">Войти</a>
                                <a href="{% url 'accounts:register' %}" class="boxed-btn4">Регистрация</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ single_carouse -->
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- service_area_start  -->
    <div class="service_area gray_bg">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-md-6">
                    <div class="single_service d-flex align-items-center ">
                        <div class="icon">
                            <i class="flaticon-school"></i>
                        </div>
                        <div class="service_info">
                            <h4>Электронные</h4>
                            <p>Книги</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service d-flex align-items-center ">
                        <div class="icon">
                            <i class="flaticon-error"></i>
                        </div>
                        <a href="{% url 'main:rules' %}"><div class="service_info">
                            <h4>Правило</h4>
                            <p>Учеников</p>
                        </div></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service d-flex align-items-center ">
                        <div class="icon">
                            <i class="flaticon-book"></i>
                        </div>
                        <div class="service_info">
                            <h4>История</h4>
                            <p>Школы</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ service_area_start  -->

    <!-- popular_program_area_start  -->
  <div class="popular_program_area section__padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center">
                        <h3>Наши сотрудники</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <nav class="custom_tabs text-center">
                        <div class="nav" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Выпускник</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Аспирант </a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Стипендии доктора философии</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact" aria-selected="false">Обучение</a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="/static/img/program/1.png" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Директор</span>
                                    <h4>ФИО</h4>
                                    <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="/static/img/program/2.png" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Должность</span>
                                    <h4>ФИО</h4>
                                    <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="/static/img/program/3.png" alt="">
                                </div>
                                <div class="program__content">
                                        <span>Должность</span>                                        <h4>ФИО</h4>
                                    <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/static/img/program/1.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Должность</span>                                        <h4>ФИО</h4>
                                        <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/static/img/program/3.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Должность</span>                                        <h4>ФИО</h4>
                                        <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/static/img/program/2.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Должность</span>                                        <h4>ФИО</h4>
                                        <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/static/img/program/3.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Должность</span>                                        <h4>ФИО</h4>
                                        <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/static/img/program/2.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Должность</span>                                        <h4>ФИО</h4>
                                        <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/static/img/program/1.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Должность</span>                                        <h4>ФИО</h4>
                                        <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/static/img/program/2.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Должность</span>                                        <h4>ФИО</h4>
                                        <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/static/img/program/1.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Должность</span>                                        <h4>ФИО</h4>
                                        <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/static/img/program/3.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Должность</span>                                        <h4>ФИО</h4>
                                        <p>Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="course_all_btn text-center">
                        <a href="Courses.html" class="boxed-btn4">Посмотреть вес персонал</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- popular_program_area_end -->

    <!-- latest_coures_area_start  -->
    <div class="latest_coures_area">
        <div class="latest_coures_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="coures_info">
                            <div class="section_title white_text">
                                <h3>Последние курсы</h3>
                                <p>
                                    Важно позаботиться о самой боли, а за ней будет следовать рост пациента, но в то же <br>
                                    время будет много работы и боли. Если говорить до мельчайших <br>
                                    деталей, в чем заключается наше упражнение?
                                </p>
                            </div>
                            <div class="coures_wrap d-flex">
                                <div class="single_wrap">
                                    <div class="icon">
                                        <i class="flaticon-lab"></i>
                                    </div>
                                    <h4>Бакалавр <br>
                                        графического дизайна
                                    </h4>
                                    <p>
                                        Важно позаботиться о самой боли, а за ней будет следовать рост пациента, но в то же <br>
                                        время будет много работы и боли. Если говорить до мельчайших <br>
                                        деталей, в чем заключается наше упражнение?
                                    </p>
                                    <a href="#" class="boxed-btn5">Приминить сейчас</a>
                                </div>
                                <div class="single_wrap">
                                    <div class="icon">
                                        <i class="flaticon-lab"></i>
                                    </div>
                                    <h4>Бакалавр <br>
                                        графического дизайна
                                    </h4>
                                    <p>
                                        Важно позаботиться о самой боли, а за ней будет следовать рост пациента, но в то же <br>
                                        время будет много работы и боли. Если говорить до мельчайших <br>
                                        деталей, в чем заключается наше упражнение?
                                    </p>
                                    <a href="#" class="boxed-btn5">Приминить сейчас</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ latest_coures_area_end -->

    <!-- recent_event_area_strat  -->
    <div class="recent_event_area section__padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section_title text-center mb-70">
                        <h3 class="mb-45">Школьные правило</h3>
                        <p>Важно позаботиться о самой боли, а за ней будет следовать рост пациента, но в то же время будет много работы и боли.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>02</span>
                            <p>Dec, 2020</p>
                        </div>
                        <div class="event_info">
                            <a href="event_details.html">
                                <h4>Как говорить как носитель языка?</h4>
                             </a>
                            <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Nov 2020 </span> <span> <i class="flaticon-placeholder"></i> AH Oditoriam</span> </p>
                        </div>
                    </div>
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>03</span>
                            <p>Dec, 2020</p>
                        </div>
                        <div class="event_info">
                            <a href="event_details.html">
                                <h4>Как говорить как носитель языка?</h4>
                             </a>
                            <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Nov 2020 </span> <span> <i class="flaticon-placeholder"></i> AH Oditoriam</span> </p>
                        </div>
                    </div>
                    <div class="single_event d-flex align-items-center">
                        <div class="date text-center">
                            <span>10</span>
                            <p>Dec, 2020</p>
                        </div>
                        <div class="event_info">
                            <a href="event_details.html">
                                <h4>Как говорить как носитель языка?</h4>
                             </a>
                            <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Nov 2020 </span> <span> <i class="flaticon-placeholder"></i> AH Oditoriam</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recent_event_area_end  -->

<!-- latest_coures_area_start  -->
<div data-scroll-index='1' class="admission_area">
    <div class="admission_inner">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="admission_form">
                        <h3>Оставьте отзыв о нашем сайте и школе</h3>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ feedback_form.name }}
<!--                                        <input type="text" placeholder="Имя" >-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ feedback_form.surname }}
<!--                                        <input type="text" placeholder="Фамилия" >-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ feedback_form.phone_number }}
<!--                                        <input type="text" placeholder="Номер телефона" >-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ feedback_form.email }}
<!--                                        <input type="text" placeholder="Адрес электронный почты" >-->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input">
                                        {{ feedback_form.feedback }}
<!--                                        <textarea cols="30" placeholder="Написать заявку" rows="10"></textarea>-->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="apply_btn">
                                        <button class="boxed-btn3" type="submit">Отправить сейчас</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ latest_coures_area_end -->


    <!-- recent_news_area_start  -->
    <div class="recent_news_area section__padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section_title text-center mb-70">
                        <h3 class="mb-45">Свежие новости</h3>
                        <p>Важно позаботиться о самой боли, а за ней будет следовать рост пациента, но в то же время будет много работы и боли.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="single__news">
                        <div class="thumb">
                            <a href="single-blog.html">
                                <img src="{% static 'img/news/1.png' %}" alt="">
                            </a>
                            <span class="badge">Групповое исследование</span>
                        </div>
                        <div class="news_info">
                            <a href="single-blog.html">
                                <h4>Те другие расходы на колледж, о
                                    которых вы не думаете</h4>
                            </a>
                            <p class="d-flex align-items-center"> <span><i class="flaticon-calendar-1"></i> May 10, 2020</span>

                            <span> <i class="flaticon-comment"></i> 01 comments</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single__news">
                        <div class="thumb">
                            <a href="single-blog.html">
                                <img src="{% static 'img/news/2.png' %}" alt="">
                            </a>
                            <span class="badge bandge_2">Зал жизни</span>
                        </div>
                        <div class="news_info">
                            <a href="single-blog.html">
                                <h4>Те другие расходы на колледж, о
                                    которых вы не думаете</h4>
                            </a>
                            <p class="d-flex align-items-center"> <span><i class="flaticon-calendar-1"></i> May 10, 2020</span>

                            <span> <i class="flaticon-comment"></i> 01 comments</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recent_news_area_end  -->
{% endblock %}