{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'books/css/style_books.css' %}">
{% endblock %}

{% block content %}
<div class="container box-1170 mb-5 mt-5">
    <h2>Список всех книг</h2>
    <hr>
    <div class="row">
        {% for book in books %}
        <div class="col-4 justify-content-center align-items-center">
            <div class="card" style="width: 18rem;">
              <img src="{{ book.book_image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ book.book_name }}</h5>
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <a href="{% url 'books:download_book' slug=book.slug %}" class="genric-btn success">Скачать</a>
              </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}