{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!-- latest_coures_area_start  -->
<div data-scroll-index='1' class="admission_area">
    <div class="admission_inner">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="admission_form">
                        <h3>{% trans "Оставьте отзыв о нашем сайте и школе" %}</h3>
                        <form action="{% url 'main:add_feedback' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ form.surname }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ form.phone_number }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input">
                                        {{ form.feedback }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="apply_btn">
                                        <button class="boxed-btn3" type="submit">{% trans "Отправить сейчас" %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ latest_coures_area_end -->
{% endblock %}
