{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="recent_event_area section__padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section_title text-center mb-70">
                    <h3 class="mb-45">{% trans "Правило номер -" %} {{ rule.number_rule }}</h3>
                    <p>{{ rule.description }}</p>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
              {% if prev_rule.slug %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'main:detail_rules' slug=prev_rule.slug %}">{% trans "Предыдущее" %}</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{% trans "Предыдущее" %}</a>
              </li>
              {% endif %}
              {% if next_rule.slug %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'main:detail_rules' slug=next_rule.slug %}">{% trans "Следующее" %}</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{% trans "Следующее" %}</a>
              </li>
              {% endif %}
          </ul>
        </nav>
    </div>
</div>
{% endblock %}
