{% extends 'base.html' %}

{% block content %}
<div class="container box_1170">
<div class="row">
  <div class="col-12 justify-content-center align-items-center">
    <form method="post">
      <h1 class="text-center mb-30 mt-5">Авторизация</h1>
      {% csrf_token %}
      <div class="mt-2 mb-3">
        {{ form.as_p }}
      </div>

      <h5><a href="{% url 'accounts:password_reset' %}" class="">Забыли пароль?</a></h5>
      <button type="submit" class="genric-btn success large mb-5" style="float: right;">Войти</button>
    </form>
  </div>
</div>

</div>
{% endblock %}