{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container box-1170">
    {% if form %}
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <h2>{% trans "Восстановление пароля" %}</h2>
            </div>
            <hr>
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_error }}</div>
                {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:  </label> {{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                <button type="submit" class="genric-btn success large mb-5 mt-5" style="float: right;">{% trans "Сбросить по E-mail" %}</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row"><div class="col-12"><p>{% trans "Ваша ссылка для сброса пароля просрочено!" %}</p></div></div>
    {% endif %}
</div>

{% endblock %}