{% load i18n %}
{% load static %}
{% load contact_tags %}
{% load compress %}

<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery/style_gallery.css' %}">
    {% endcompress %}

    {% block css %}{% endblock %}
    <title>{% trans title %}</title>

    <style>
        .form-error {
            color: #eb6157;
        }
    </style>
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
    {% trans "Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href='https://browsehappy.com/' target='_blank'>обновите ваш браузер</a>, чтобы улучшить ваш опыт и безопасность." %}

</p>
<![endif]-->

<!-- header-start -->
<header>
    <div class="header-area ">
        <div class="header-top_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_top_wrap d-flex justify-content-between align-items-center">
                            <div class="text_wrap">
                                <p>
                                    {% with stripped_path=request.path|slice:"4:" %}
                                    <a href="{% url 'main:switch_language' 'ky' %}?next=/{{ stripped_path }}">
                                        {% trans 'Кыргызский' %}
                                    </a>
                                    <a href="{% url 'main:switch_language' 'ru' %}?next=/{{ stripped_path }}">
                                        {% trans 'Русский' %}
                                    </a>
                                    {% endwith %}
                                </p>
                            </div>
                            <div class="text_wrap">
                                {% if user.is_authenticated %}
                                <p><a href="{% url 'accounts:profile' %}"><i class="ti-user"></i> {% trans 'Привет' %}, {{ user.username }}!</a> <a href="{% url 'accounts:logout' %}">{% trans 'Выход' %}</a></p>
                                {% else %}
                                <p><a href="{% url 'accounts:login' %}"><i class="ti-user"></i>{% trans 'Войти' %}</a> <a href="{% url 'accounts:register' %}">{% trans 'Регистрация' %}</a></p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_wrap d-flex justify-content-between align-items-center">
                            <div class="header_left">
                                <div class="logo">
                                    <a href="{% url 'main:index' %}">
                                        <img src="{% static 'logo.png' %}" alt="">

                                    </a>
                                </div>
                            </div>
                            <div class="header_right d-flex align-items-center">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a  href="{% url 'main:index' %}">{% trans 'Главная' %} <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a  href="{% url 'main:index' %}">{% trans 'Главная' %} </a></li>
                                                    <li><a href="{% url 'main:rules' %}">{% trans 'Правило Школы' %}</a></li>
                                                    <li><a href="{% url 'books:books' %}">{% trans 'Электронные Книги' %}</a></li>
                                                    <li><a href="{% url 'main:feedback' %}">{% trans 'Отзывы Пользователей' %}</a></li>
                                                    <li><a href="{% url 'main:contact' %}">{% trans 'Контакты' %}</a></li>
                                                    <li><a href="{% url 'main:about' %}">{% trans 'О Нас' %}</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'personal:personal' %}">{% trans 'Персонал' %} <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'personal:personal' %}">{% trans 'Персонал' %}</a></li>
                                                    {% if user.is_staff or user.is_superuser %}
                                                    <li><a href="/admin/">Администрация</a></li>
                                                    {% endif %}
                                                    <li><a href="{% url 'personal:all_personal' %}">{% trans 'Учителя' %}</a></li>
                                                    <li><a href="{% url 'personal:classes' %}">{% trans 'Классы' %}</a></li>
                                                    <li><a href="{% url 'archive:documents' %}">{% trans 'Архив документов' %}</a></li>
                                                    <li><a href="{% url 'personal:grades' %}">{% trans 'Оценки учеников' %}</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'news:index' %}">{% trans 'Новости' %} <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'news:index' %}">{% trans 'Новости' %}</a></li>
                                                    <li><a href="{% url 'event:event_list' %}">{% trans 'Событие' %}</a></li>
                                                    <li><a href="{% url 'blog:post_list' %}">{% trans 'Блог' %}</a></li>
                                                    <li><a href="{% url 'forum:post_list' %}">{% trans 'Форум' %}</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'achievement:achievement' %}">{% trans 'Достижение' %} <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'achievement:achievement' %}">{% trans 'Достижение' %}</a></li>
                                                    <li><a href="{% url 'achievement:best_students' %}">{% trans 'Лучшие ученики' %}</a></li>
                                                    <li><a href="{% url 'achievement:achievement_students' %}">{% trans 'Достижение учеников' %}</a></li>
                                                    <li><a href="{% url 'achievement:achievement_personal' %}">{% trans 'Достижение учителей' %}</a></li>
                                                    <li><a href="{% url 'achievement:competitive_achievement' %}">{% trans 'Соревновательные достижение' %}</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        {% block main_btn %}<a href="{% url 'main:add_feedback' %}">{% trans 'Оставить Отзыв' %}</a>{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

    <main>
        {% block content %}{% endblock %}
    </main>


<!-- footer start -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="newsLetter_wrap">
                <div class="row justify-content-between">
                    <div class="col-md-7">
                        <div class="footer_widget">
                            {% contact_form %}
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Социальные сети
                            </h3>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% trans 'Главная' %}
                        </h3>
                        <ul>
                            <li><a  href="{% url 'main:index' %}">{% trans 'Главная' %} </a></li>
                            <li><a href="{% url 'main:rules' %}">{% trans 'Правило Школы' %}</a></li>
                            <!--                                                        <li><a href="#">Электронные Книги</a></li>-->
                            <li><a href="{% url 'main:feedback' %}">{% trans 'Отзывы Пользователей' %}</a></li>
                            <li><a href="{% url 'main:contact' %}">{% trans 'Контакты' %}</a></li>
                            <li><a href="{% url 'main:about' %}">{% trans 'О Нас' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% trans 'Персонал' %}
                        </h3>
                        <ul>
                            <li><a href="{% url 'personal:personal' %}">{% trans 'Персонал' %}</a></li>
                            {% if user.is_staff or user.is_superuser %}
                            <li><a href="/admin/">{% trans 'Администрация' %}</a></li>
                            {% endif %}
                            <li><a href="{% url 'personal:all_personal' %}">{% trans 'Учителя' %}</a></li>
                            <li><a href="{% url 'personal:classes' %}">{% trans 'Классы' %}</a></li>
                            <li><a href="{% url 'archive:documents' %}">{% trans 'Архив документов' %}</a></li>
                            <li><a href="{% url 'personal:grades' %}">{% trans 'Оценки учеников' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% trans 'Новости' %}
                        </h3>
                        <ul>
                            <li><a href="{% url 'news:index' %}">{% trans 'Новости' %}</a></li>
                            <li><a href="{% url 'event:event_list' %}">{% trans 'Событие' %}</a></li>
                            <li><a href="{% url 'blog:post_list' %}">{% trans 'Блог' %}</a></li>
                            <li><a href="{% url 'forum:post_list' %}">{% trans 'Форум' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% trans 'Достижение' %}
                        </h3>
                        <ul>
                            <li><a href="{% url 'achievement:achievement' %}">{% trans 'Достижение' %}</a></li>
                            <li><a href="{% url 'achievement:best_students' %}">{% trans 'Лучшие ученики' %}</a></li>
                            <li><a href="{% url 'achievement:achievement_students' %}">{% trans 'Достижение учеников' %}</a></li>
                            <li><a href="{% url 'achievement:achievement_personal' %}">{% trans 'Достижение учителей' %}</a></li>
                            <li><a href="{% url 'achievement:competitive_achievement' %}">{% trans 'Соревновательные достижение' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        {% trans "Copyright" %} &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        {% trans "Все права защищены" %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end  -->


<!-- JS here -->
{% compress js %}
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/ajax-form.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/scrollIt.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/gijgo.min.js' %}"></script>
<script src="{% static 'js/gallery/script_gallery.js' %}"></script>
{% block js %} {% endblock %}

<!--contact js-->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
{% endcompress %}

</body>


</html>